backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
fbs==0.8.4
ipython==7.1.1
matplotlib==3.0.3
matplotlib-venn==0.11.5
mkl==2019.0
numpy==1.16.2
numpydoc==0.9.1
py==1.10.0
pydot==1.4.1
PyInstaller==3.5
PyQt5==5.13.0
PyQt5-sip==12.7.0
PyQtChart==5.13.0
PyQtDataVisualization==5.13.0
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.4
PyYAML==5.4
QtAwesome==0.5.3
qtconsole==4.4.2
QtPy==1.5.2
scipy==1.2.1
six==1.11.0
tornado==5.1.1
traceback2==1.4.0